.container-fluid{
    background: rgb(194, 185, 185);
}
h1{
    font-family:Arial, Helvetica, sans-serif;
}
/* .card{
    margin-bottom: 10px;
} */
#footer{
    height: 200px;
    background: rgb(99, 99, 255);
}